# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [1]:
# Your code here
import numpy as np #Mathematical Calculations
data = np.random.randint(1,100,size = 12) # randint, performs to choose randomly integers from given parameters like lowest and highest when given a size )
print("Ascending Order:", np.sort(data))
print("Descending Order:", -np.sort(-data))
print("Average:", np.average(data))

Ascending Order: [ 8 16 22 22 24 34 42 54 61 64 69 95]
Descending Order: [95 69 64 61 54 42 34 24 22 22 16  8]
Average: 42.583333333333336

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [2]:
#Import Libraries
import nltk
import pandas as pd
import math
nltk.download('punkt')
from nltk.tokenize.treebank import TreebankWordDetokenizer

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [3]:
# Assign text sentence to Variables (1)
Sentence_One = "aeiouu!!!;,.:"
Sentence_Two = "Hello;,!"
#Word tokenizing (2)
Tokens_Sentence_One = nltk.word_tokenize(Sentence_One)
Tokens_Sentence_Two = nltk.word_tokenize(Sentence_Two)
#Output
print("Sentence_One:\t",Tokens_Sentence_One)
print("Sentence_Two:\t",Tokens_Sentence_Two)
# common words in sentences (3)
word_Common = [ ]
for i in range(len(Tokens_Sentence_One)):
  k = i;
  for j in range(len(Tokens_Sentence_Two)):
        if (Tokens_Sentence_One[k] == Tokens_Sentence_Two[j]):
            word_Common.append(Tokens_Sentence_One[k])
print("Words common are: ",word_Common)  
#Remove Punctuations and print out the sentence (4)
example = [ ]
punc = ['.',',',';',':','!']
def remov(tok_Sente):
      sente_Elem_Rem = [i for i in punc if i in tok_Sente]
      sente_Rem = [i for i in tok_Sente if i not in sente_Elem_Rem ]
      return TreebankWordDetokenizer().detokenize(sente_Rem)
print("Removing the Punctuations: ",remov(tok_Sente = Tokens_Sentence_One))
#Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc (5)
cou_Vow_Eac = []
sum = 0
vowel = ['a','e','i','o','u']
def coun(gsente):
  sente_Charecte = list (gsente)
  for i in range(len(vowel)):
    x = vowel[i]
    cou_Vow_Eac.append(sente_Charecte.count(x))
  return np.sum(cou_Vow_Eac)
print("Number of Vowels: ",coun(gsente = Sentence_One))
#each vowels count
dict = { }
def couvow(gsente):
 sente_Charecte = list (gsente)
 for i in range(len(vowel)):
   x = vowel[i]
   dict[x] = sente_Charecte.count(x)
 return dict
print("Count of each vowels: ",couvow(gsente = Sentence_One))

Sentence_One:	 ['aeiouu', '!', '!', '!', ';', ',', '.', ':']
Sentence_Two:	 ['Hello', ';', ',', '!']
Words common are:  ['!', '!', '!', ';', ',']
Removing the Punctuations:  aeiouu
Number of Vowels:  6
Count of each vowels:  {'a': 1, 'e': 1, 'i': 1, 'o': 1, 'u': 2}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [4]:
# Your code here
import pandas as pd
import numpy as np
r = [1,2,3,4,5,6,7,8,9,10]
V = [(4/3 * np.pi * i) for i in r ]
Volume = pd.DataFrame({'r':r,'V':V});
Volume

    r          V
0   1   4.188790
1   2   8.377580
2   3  12.566371
3   4  16.755161
4   5  20.943951
5   6  25.132741
6   7  29.321531
7   8  33.510322
8   9  37.699112
9  10  41.887902

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/Assignments/Assignment1_denton_housing.csv) included with this assignment. The [file Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/Assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [5]:
import io
import requests

In [53]:
# Your code here

urlfile="https://raw.githubusercontent.com/unt-iialab/INFO5731_FALL2020/master/Assignments/Assignment1_denton_housing.csv"

url=requests.get(urlfile).content

df =pd.read_csv(io.StringIO(url.decode('utf-8')))

#Occupied Housing Units (part 1)
def di():
 df_Occu = df[df['title_field'].isin({'Occupied Housing Units'})]
 df_Occ_Asc = df_Occu.sort_values('year',ascending=True)
 df_Occ_Asc['diff_Year']  = ['2008','2009-2008','2010-2009','2011-2010','2012-2011','2013-2012','2014-2013']
 df_Occ_Asc['diff_Value'] = df_Occ_Asc['value'].diff(periods=1)
 df_Occ_Asc = df_Occ_Asc.sort_values('diff_Value',ascending= True)
 cols_To_Disp = ['diff_Year','title_field','diff_Value']
 return df_Occ_Asc[cols_To_Disp]

#Finding percentage of Vacant and Ocuupied Housing Units (part 2)
def pe():
 df_Occu = [df['value'][i] * 100 for i in range(len(df['value'])) if 'Occupied Housing Units' == df['title_field'][i]]
 df_Vac = [df['value'][i] * 100 for i in range(len(df['value'])) if 'Vacant Housing Units' == df['title_field'][i]]
 df_Tot = [df['value'][i] for i in range(len(df['value'])) if 'Total Housing Units' == df['title_field'][i]]
 df_Yea = [df['year'][i] for i in range(len(df['year'])) if 'Total Housing Units' == df['title_field'][i]]
 df_Occ_Pe = [np.round(df_Occu[i]/df_Tot[i],2) for i in range(len(df_Occu))]
 df_Vac_Pe = [np.round(df_Vac[i]/df_Tot[i],2) for i in range(len(df_Vac))]
 df_Ne = pd.DataFrame({'Year':df_Yea,'Vac_Hous_Uni_%':df_Vac_Pe,'Occ_Hous_Uni_%':df_Occ_Pe})
 return df_Ne

# Max in Vac and Occ by year and value (part 3)

def ma():
 df_Yea = [ ]
 df_Ma_Val = []
 df_Occ = [df['value'][i] for i in range(len(df['value'])) if 'Occupied Housing Units' == df['title_field'][i]]
 df_Ma_Occ = np.max(df_Occ)
 df_Vac = [df['value'][i] for i in range(len(df['value'])) if 'Vacant Housing Units' == df['title_field'][i]]
 df_Ma_Vac = np.max(df_Vac)
 df_Yea_Occ = [df['year'][i] for i in range(len(df)) if df['value'][i] == df_Ma_Occ ]
 df_Yea_Vac = [df['year'][i] for i in range(len(df)) if df['value'][i] == df_Ma_Vac ] 
 df_Yea.append(df_Yea_Occ)
 df_Yea.append(df_Yea_Vac)
 df_Ma_Val.append(df_Ma_Occ)
 df_Ma_Val.append(df_Ma_Vac)
 text = ['Occupied Housing Units','Vacant Housing Units']
 df_New = pd.DataFrame({'text_field': text,'year':df_Yea,'value':df_Ma_Val})
 return df_New

 #Harmanic mean of Total Housing Units (part 4)

def hm():
 hm_den_tot_Val = 0
 df_Tot = [df['value'][i] for i in range(len(df['value'])) if 'Total Housing Units' == df['title_field'][i]]
 for i in df_Tot:
   hm_den_tot_Val = hm_den_tot_Val + (1/i)
 harm_Mean = np.size(df_Tot)/hm_den_tot_Val
 return np.round(harm_Mean,2)
 
print("The harmonic mean of Total Housing Units is: ",hm())

The harmonic mean of Total Housing Units is:  44398.29