<a href="https://colab.research.google.com/github/prithvikolla/Compuational_Methods_INFO5731/blob/master/LegalTextM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
pd.set_option('display.width', 1000)
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_excel("/content/stage-1-4.xlsx")

In [3]:
df.head()

                                            Sentence   Target
0                                            at 994.  Invalid
1                                          Footnote:  Invalid
2  People v. Francisco S. Palacios and Valerie M....  Invalid
3                            79-0043A and 79-0044A).  Invalid
4      Miller v. California, 93 S. Ct. 2607, 2616 n.  Invalid

In [4]:
df['Target'].value_counts()

Facts               1829
Analysis             525
Invalid              342
Conclusion           324
Issue                263
Rule/Law/Holding     225
Others               133
Rule/Law/holding      36
Label_text             1
Name: Target, dtype: int64

In [5]:
df = df[df['Target'] != 'Label_text']

In [6]:
df['Target'].value_counts()

Facts               1829
Analysis             525
Invalid              342
Conclusion           324
Issue                263
Rule/Law/Holding     225
Others               133
Rule/Law/holding      36
Name: Target, dtype: int64

In [7]:
df['Target'].replace({'Rule/Law/holding' :'Rule/Law/Holding'}, inplace=True)

In [8]:
df['Target'].value_counts()

Facts               1829
Analysis             525
Invalid              342
Conclusion           324
Issue                263
Rule/Law/Holding     261
Others               133
Name: Target, dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3677 entries, 0 to 3677
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sentence  3677 non-null   object
 1   Target    3677 non-null   object
dtypes: object(2)
memory usage: 86.2+ KB

In [10]:
print(df['Sentence'].head())

0                                              at 994.
1                                            Footnote:
2    People v. Francisco S. Palacios and Valerie M....
3                              79-0043A and 79-0044A).
4        Miller v. California, 93 S. Ct. 2607, 2616 n.
Name: Sentence, dtype: object

In [15]:
from nltk import word_tokenize
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [16]:
df['Sentence_Tokens'] = df['Sentence'].apply(lambda x: word_tokenize(x))

In [18]:
df['Sentence_Tokens'][2]

['People',
 'v.',
 'Francisco',
 'S.',
 'Palacios',
 'and',
 'Valerie',
 'M.',
 'Palacios',
 '(',
 'D.C.',
 'Criminal',
 'Case',
 'Nos',
 '.']