In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("/content/stage-1-4.xlsx")

In [3]:
df.head()

                                            Sentence   Target
0                                            at 994.  Invalid
1                                          Footnote:  Invalid
2  People v. Francisco S. Palacios and Valerie M....  Invalid
3                            79-0043A and 79-0044A).  Invalid
4      Miller v. California, 93 S. Ct. 2607, 2616 n.  Invalid

In [4]:
df['Target'].value_counts()

Facts               1829
Analysis             525
Invalid              342
Conclusion           324
Issue                263
Rule/Law/Holding     225
Others               133
Rule/Law/holding      36
Label_text             1
Name: Target, dtype: int64

In [5]:
df = df[df['Target'] != 'Label_text']

In [6]:
df['Target'].value_counts()

Facts               1829
Analysis             525
Invalid              342
Conclusion           324
Issue                263
Rule/Law/Holding     225
Others               133
Rule/Law/holding      36
Name: Target, dtype: int64

In [ ]:
for i in df['Target']