<a href="https://colab.research.google.com/github/prithvikolla/Compuational_Methods_INFO5731/blob/master/Project_Legal_Text_Mining/LegalTextM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', -1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.

In [2]:
df = pd.read_excel("/content/stage-1-4.xlsx")

In [3]:
df.head()

                                                                           Sentence   Target
0  at 994.                                                                           Invalid
1  Footnote:                                                                         Invalid
2  People v. Francisco S. Palacios and Valerie M. Palacios (D.C. Criminal Case Nos.  Invalid
3  79-0043A and 79-0044A).                                                           Invalid
4  Miller v. California, 93 S. Ct. 2607, 2616 n.                                     Invalid

In [4]:
df['Target'].value_counts()

Facts               1829
Analysis            525
Invalid             342
Conclusion          324
Issue               263
Rule/Law/Holding    225
Others              133
Rule/Law/holding    36
Label_text          1
Name: Target, dtype: int64

In [5]:
df = df[df['Target'] != 'Label_text']

In [6]:
df['Target'].value_counts()

Facts               1829
Analysis            525
Invalid             342
Conclusion          324
Issue               263
Rule/Law/Holding    225
Others              133
Rule/Law/holding    36
Name: Target, dtype: int64

In [7]:
df['Target'].replace({'Rule/Law/holding' :'Rule/Law/Holding'}, inplace=True)

In [8]:
df['Target'].value_counts()

Facts               1829
Analysis            525
Invalid             342
Conclusion          324
Issue               263
Rule/Law/Holding    261
Others              133
Name: Target, dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3677 entries, 0 to 3677
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sentence  3677 non-null   object
 1   Target    3677 non-null   object
dtypes: object(2)
memory usage: 86.2+ KB

In [10]:
print(df['Sentence'].head())

0    at 994.
1    Footnote:
2    People v. Francisco S. Palacios and Valerie M. Palacios (D.C. Criminal Case Nos.
3    79-0043A and 79-0044A).
4    Miller v. California, 93 S. Ct. 2607, 2616 n.
Name: Sentence, dtype: object

In [11]:
import nltk
from nltk import word_tokenize
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [12]:
df['Sentence'] = df['Sentence'].apply(lambda x: x.lower())

In [13]:
df['Sent_Punc'] = df['Sentence'].str.replace('[^\w\s]','')

In [14]:
df.head()

                                                                           Sentence  ...                                                                  Sent_Punc
0  at 994.                                                                           ...  at 994
1  footnote:                                                                         ...  footnote
2  people v. francisco s. palacios and valerie m. palacios (d.c. criminal case nos.  ...  people v francisco s palacios and valerie m palacios dc criminal case nos
3  79-0043a and 79-0044a).                                                           ...  790043a and 790044a
4  miller v. california, 93 s. ct. 2607, 2616 n.                                     ...  miller v california 93 s ct 2607 2616 n

[5 rows x 3 columns]

In [15]:
df['Sent_Punc'].head(10)

0    at 994
1    footnote
2    people v francisco s palacios and valerie m palacios dc criminal case nos
3    790043a and 790044a
4    miller v california 93 s ct 2607 2616 n
5    8 1973 see also united states v
6    obrien 88 s ct 1673 1679 1968
7    ill
8    the second part part b of the miller guidelines for the trier of fact in determining what is patently offensive is whether
9    in united states v
Name: Sent_Punc, dtype: object

In [16]:
nltk.download('stopwords')
stopword = nltk.corpus.stopwords.words('english')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [17]:
df['Sent_Token'] = df['Sent_Punc'].apply(lambda x: word_tokenize(x))

In [18]:
df['Sent_Stop'] = df['Sent_Token'].apply(lambda x: [item for item in x if item not in stopword])

In [19]:
df['Sent_Stop'].head(10)

0    [994]
1    [footnote]
2    [people, v, francisco, palacios, valerie, palacios, dc, criminal, case, nos]
3    [790043a, 790044a]
4    [miller, v, california, 93, ct, 2607, 2616, n]
5    [8, 1973, see, also, united, states, v]
6    [obrien, 88, ct, 1673, 1679, 1968]
7    [ill]
8    [second, part, part, b, miller, guidelines, trier, fact, determining, patently, offensive, whether]
9    [united, states, v]
Name: Sent_Stop, dtype: object

In [20]:
test_Sent = df['Sent_Stop'][2]

In [21]:
test_Sent

['people',
 'v',
 'francisco',
 'palacios',
 'valerie',
 'palacios',
 'dc',
 'criminal',
 'case',
 'nos']

In [22]:
from nltk.stem.snowball import SnowballStemmer  
# df['stem'] = df[].apply(lambda x: [stemmer.stem(y) for y in x])
englishStemmer=SnowballStemmer("english")

In [23]:
for i in test_Sent:
  print(englishStemmer.stem(i))

peopl
v
francisco
palacio
valeri
palacio
dc
crimin
case
nos