<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (9/2/2020, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [2]:
# write your answer here
import pandas as pd
string = "Hello World!"
print(len(string))

12

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [3]:
# write your answer here
string = "google.com"
CountOfElements = {i: string.count(i) for i in set(string)}
print(CountOfElements)

{'c': 1, '.': 1, 'l': 1, 'm': 1, 'o': 3, 'g': 2, 'e': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [4]:
# write your answer here
import numpy as np
list = [1, 2, 3, 4]
np.sum(list)

10

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [5]:
String = input("String input:\t")
replaceString = String[0]
for i in range(1, len(String)):
    if String[i] == String[0]:
        replaceString += '$' 
    else:
        replaceString += String[i] 
print ("Replaced String:",replaceString)

String input:	1
Replaced String: 1

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [6]:
# write your answer here
import math
a = input("Enter a value:\t")
b = input("Enter b value:\t")
a = int(a)
b = int(b)
s = 3.14 * (1+ a/b)**3
print(s)

Enter a value:	1
Enter b value:	1
25.12

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [7]:
# write your answer here
dic1 = {1:10,2:20}
dic2 = {3:30,4:40}
dic3 = {5:50,6:60}
ConDict = {}
for d in [dic1, dic2, dic3]:
  ConDict.update(d)
print(ConDict)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [8]:
# write your answer here
tuple = (1, "prithvi","chen", "python", 3, 20)
element = input("enter element to check in tuple:\t")
print(element in tuple)

enter element to check in tuple:	1
False

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [9]:
# write your answer here
import math
set = {1,2,3,4}
print("max value:\t",max(set))
print("min value:\t",min(set))

max value:	 4
min value:	 1

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [10]:
# write your answer here
# import numpy as np
# import random
# studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']
# GroupSizes = [ ]
# def main():
#     while True:

#         if (np.sum(GroupSizes) == len(studnet_list)):
#             print (GroupSizes)
#             return
#         else:
#             for j in range(5):
#               rand = random.randint(3,5)
#               GroupSizes.append(rand)

# if __name__ == "__main__":
#     main()

# for i in range(5):
#     {
#        data = random.sample(studnet_list,random.randint(3,5))
#        print("Group {} is {}".format(i+1,data)) 
#   for i in data:
#     try:
#         studnet_list.remove(i)
#     except ValueError:
#         pass   
#     }
#   else:
#       lastGroup = student_list
#       print(lastGroup)

In [11]:
#multiples of 3 or 5 below 1000
import math
import numpy as np

In [13]:
multiOf35 = [ ]
for i in range(1000):
  if ((i%3 == 0) or (i%5 == 0)):
    print(i)
    multiOf35.append(i)
sum = np.sum(multiOf35)
print(sum)

0
3
5
6
9
10
12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
50
51
54
55
57
60
63
65
66
69
70
72
75
78
80
81
84
85
87
90
93
95
96
99
100
102
105
108
110
111
114
115
117
120
123
125
126
129
130
132
135
138
140
141
144
145
147
150
153
155
156
159
160
162
165
168
170
171
174
175
177
180
183
185
186
189
190
192
195
198
200
201
204
205
207
210
213
215
216
219
220
222
225
228
230
231
234
235
237
240
243
245
246
249
250
252
255
258
260
261
264
265
267
270
273
275
276
279
280
282
285
288
290
291
294
295
297
300
303
305
306
309
310
312
315
318
320
321
324
325
327
330
333
335
336
339
340
342
345
348
350
351
354
355
357
360
363
365
366
369
370
372
375
378
380
381
384
385
387
390
393
395
396
399
400
402
405
408
410
411
414
415
417
420
423
425
426
429
430
432
435
438
440
441
444
445
447
450
453
455
456
459
460
462
465
468
470
471
474
475
477
480
483
485
486
489
490
492
495
498
500
501
504
505
507
510
513
515
516
519
520
522
525
528
530
531
534
535
537
540
543
545
546
549
550
552
555
558
560
561
564
565
567
570
573
575
576
579
580
582
585
588
590
591
594
595
597
600
603
605
606
609
610
612
615
618
620
621
624
625
627
630
633
635
636
639
640
642
645
648
650
651
654
655
657
660
663
665
666
669
670
672
675
678
680
681
684
685
687
690
693
695
696
699
700
702
705
708
710
711
714
715
717
720
723
725
726
729
730
732
735
738
740
741
744
745
747
750
753
755
756
759
760
762
765
768
770
771
774
775
777
780
783
785
786
789
790
792
795
798
800
801
804
805
807
810
813
815
816
819
820
822
825
828
830
831
834
835
837
840
843
845
846
849
850
852
855
858
860
861
864
865
867
870
873
875
876
879
880
882
885
888
890
891
894
895
897
900
903
905
906
909
910
912
915
918
920
921
924
925
927
930
933
935
936
939
940
942
945
948
950
951
954
955
957
960
963
965
966
969
970
972
975
978
980
981
984
985
987
990
993
995
996
999
233168