## The third In-class-exercise (9/16/2020, 20 points in total)

The purpose of this exercise is to under users' information needs, then collect the data for analysis.

Question 1 (8 points): Describe an interesting research question (or practical question) you have in mind, what kind of data should be collected to answer the question(s)? How many data needed for the analysis? The detail steps for collecting and save the data.

In [ ]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

'''
Please write you answer here:





'''

Question 2 (12 points): Write python code to collect 500 items of the data you plan to collect above.

In [21]:
# You code here (Please add comments in the code):

import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
Id = []
Id_List = [ ]
tableRow = [ ]
Description = []
Description_List = [ ]
Solved_By = []
Solved_By_List = [ ]
for i in range(1,11):
 page = requests.get('https://projecteuler.net/archives;page='+ str (i))
 soup = BeautifulSoup(page.content,'html.parser')
 Id.append(soup.find_all('td',class_="id_column"))
 tableRow.append(soup.find_all('tr')) #for loop till
 Solved_By.append(soup.find_all('div',class_="center"))
for item in Id:
  for i in range(len(item)):
    Id_List.append(item[i].get_text())
for item in tableRow:
  for i in range(len(item)):
    Description.append(item[i].find('a'))
for item in Solved_By:
  for i in range(len(item)):
    Solved_By_List.append(item[i].get_text()) 
Description = list(filter(None.__ne__, Description))
for item in Description:
  Description_List.append(item.get_text())
df= pd.DataFrame({'Id':Id_List,'Description': Description_List,'Solved_By':Solved_By_List})
df.to_csv('Euler.csv', index= False)
df.head(5)

  Id                 Description Solved_By
0  1        Multiples of 3 and 5    964535
1  2      Even Fibonacci numbers    767627
2  3        Largest prime factor    550121
3  4  Largest palindrome product    485900
4  5           Smallest multiple    489538