## The fifth In-class-exercise (9/30/2020, 20 points in total)

In exercise-03, I asked you to collected 500 textual data based on your own information needs (If you didn't collect the textual data, you should recollect for this exercise). Now we need to think about how to represent the textual data for text classification. In this exercise, you are required to select 10 types of features (10 types of features but absolutely more than 10 features) in the followings feature list, then represent the 500 texts with these features. The output should be in the following format:
![image.png](attachment:image.png)

The feature list:

* (1) tf-idf features
* (2) POS-tag features: number of adjective, adverb, auxiliary, punctuation, complementizer, coordinating conjunction, subordinating conjunction, determiner, interjection, noun, possessor, preposition, pronoun, quantifier, verb, and other. (select some of them if you use pos-tag features)
* (3) Linguistic features:
  * number of right-branching nodes across all constituent types
  * number of right-branching nodes for NPs only
  * number of left-branching nodes across all constituent types
  * number of left-branching nodes for NPs only
  * number of premodifiers across all constituent types
  * number of premodifiers within NPs only
  * number of postmodifiers across all constituent types
  * number of postmodifiers within NPs only
  * branching index across all constituent types, i.e. the number of right-branching nodes minus number of left-branching nodes
  * branching index for NPs only
  * branching weight index: number of tokens covered by right-branching nodes minus number of tokens covered by left-branching nodes across all categories
  * branching weight index for NPs only 
  * modification index, i.e. the number of premodifiers minus the number of postmodifiers across all categories
  * modification index for NPs only
  * modification weight index: length in tokens of all premodifiers minus length in tokens of all postmodifiers across all categories
  * modification weight index for NPs only
  * coordination balance, i.e. the maximal length difference in coordinated constituents
  
  * density (density can be calculated using the ratio of folowing function words to content words) of determiners/quantifiers
  * density of pronouns
  * density of prepositions
  * density of punctuation marks, specifically commas and semicolons
  * density of auxiliary verbs
  * density of conjunctions
  * density of different pronoun types: Wh, 1st, 2nd, and 3rd person pronouns
  
  * maximal and average NP length
  * maximal and average AJP length
  * maximal and average PP length
  * maximal and average AVP length
  * sentence length

* Other features in your mind (ie., pre-defined patterns)

In [1]:
# Please write your code here

#Collecting Project Euler Data Here Again.

import pandas as pd
import requests
from bs4 import BeautifulSoup
Id = []
Id_List = [ ]
tableRow = [ ]
Description = []
Description_List = [ ]
Solved_By = []
Solved_By_List = [ ]
for i in range(1,16):
 page = requests.get('https://projecteuler.net/archives;page='+ str (i))
 soup = BeautifulSoup(page.content,'html.parser')
 Id.append(soup.find_all('td',class_="id_column"))
 tableRow.append(soup.find_all('tr')) #for loop till
 Solved_By.append(soup.find_all('div',class_="center"))
for item in Id:
  for i in range(len(item)):
    Id_List.append(int (item[i].get_text()))
for item in tableRow:
  for i in range(len(item)):
    Description.append(item[i].find('a'))
for item in Solved_By:
  for i in range(len(item)):
    Solved_By_List.append(int (item[i].get_text())) 
Description = list(filter(None.__ne__, Description))
for item in Description:
  Description_List.append(item.get_text())
df= pd.DataFrame({'Id':Id_List,'Description': Description_List,'Solved_By':Solved_By_List})
df.head(10)

   Id                  Description  Solved_By
0   1         Multiples of 3 and 5     964716
1   2       Even Fibonacci numbers     767848
2   3         Largest prime factor     550354
3   4   Largest palindrome product     486151
4   5            Smallest multiple     489754
5   6        Sum square difference     492781
6   7                10001st prime     421083
7   8  Largest product in a series     351733
8   9  Special Pythagorean triplet     357200
9  10          Summation of primes     326876

In [2]:
#Number of Words in Description
df['Description_word_count'] = df['Description'].apply(lambda x: len(str(x).split(" ")))
df[['Description','Description_word_count']].head()

                  Description  Description_word_count
0        Multiples of 3 and 5                       5
1      Even Fibonacci numbers                       3
2        Largest prime factor                       3
3  Largest palindrome product                       3
4           Smallest multiple                       2

In [3]:
# Number of Characters
df['Description_char_count'] = df['Description'].str.len() ## this also includes spaces
df[['Description','Description_char_count']].head()

                  Description  Description_char_count
0        Multiples of 3 and 5                      20
1      Even Fibonacci numbers                      22
2        Largest prime factor                      20
3  Largest palindrome product                      26
4           Smallest multiple                      17

In [4]:
#Average Word Length

def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))

df['Description_avg_word'] = df['Description'].apply(lambda x: avg_word(x))
df[['Description','Description_avg_word']].head()

                  Description  Description_avg_word
0        Multiples of 3 and 5              3.200000
1      Even Fibonacci numbers              6.666667
2        Largest prime factor              6.000000
3  Largest palindrome product              8.000000
4           Smallest multiple              8.000000

In [5]:
#Number of Stop Words
from nltk.corpus import stopwords

import nltk
nltk.download('stopwords')
stop = stopwords.words('english')

df['stopwords_Description'] = df['Description'].apply(lambda x: len([x for x in x.split() if x in stop]))
df[['Description','stopwords_Description']].head(10)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                   Description  stopwords_Description
0         Multiples of 3 and 5                      2
1       Even Fibonacci numbers                      0
2         Largest prime factor                      0
3   Largest palindrome product                      0
4            Smallest multiple                      0
5        Sum square difference                      0
6                10001st prime                      0
7  Largest product in a series                      2
8  Special Pythagorean triplet                      0
9          Summation of primes                      1

In [6]:
#Number of Special Characters
df['hastags_Description'] = df['Description'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
df[['Description','hastags_Description']].head()

                  Description  hastags_Description
0        Multiples of 3 and 5                    0
1      Even Fibonacci numbers                    0
2        Largest prime factor                    0
3  Largest palindrome product                    0
4           Smallest multiple                    0

In [7]:
#Number of Numerics
df['numerics_Description'] = df['Description'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
df[['Description','numerics_Description']].head()

                  Description  numerics_Description
0        Multiples of 3 and 5                     2
1      Even Fibonacci numbers                     0
2        Largest prime factor                     0
3  Largest palindrome product                     0
4           Smallest multiple                     0

In [8]:
#Number of Upper Case Words
df['upper_Description'] = df['Description'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
df[['Description','upper_Description']].head(10)

                   Description  upper_Description
0         Multiples of 3 and 5                  0
1       Even Fibonacci numbers                  0
2         Largest prime factor                  0
3   Largest palindrome product                  0
4            Smallest multiple                  0
5        Sum square difference                  0
6                10001st prime                  0
7  Largest product in a series                  0
8  Special Pythagorean triplet                  0
9          Summation of primes                  0

**Preprocessing the text.**

In [9]:
#Convert the text into the lower case text
df['Description'] = df['Description'].apply(lambda x: " ".join(x.lower() for x in x.split()))
df['Description'].head(10)

0           multiples of 3 and 5
1         even fibonacci numbers
2           largest prime factor
3     largest palindrome product
4              smallest multiple
5          sum square difference
6                  10001st prime
7    largest product in a series
8    special pythagorean triplet
9            summation of primes
Name: Description, dtype: object

In [10]:
#Removing the Punctuation
df['Description'] = df['Description'].str.replace('[^\w\s]','')
df['Description'].head(10)

0           multiples of 3 and 5
1         even fibonacci numbers
2           largest prime factor
3     largest palindrome product
4              smallest multiple
5          sum square difference
6                  10001st prime
7    largest product in a series
8    special pythagorean triplet
9            summation of primes
Name: Description, dtype: object

In [11]:
#Removal of StopWords
from nltk.corpus import stopwords
stop = stopwords.words('english')
df['Description'] = df['Description'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
df['Description'].head()

0                 multiples 3 5
1        even fibonacci numbers
2          largest prime factor
3    largest palindrome product
4             smallest multiple
Name: Description, dtype: object

In [12]:
#Common Word Removal
freq = pd.Series(' '.join(df['Description']).split()).value_counts()[:10]
freq

numbers      50
sum          39
prime        37
square       31
triangles    25
number       20
sequence     20
sums         20
ii           19
counting     17
dtype: int64

In [13]:
freq = list(freq.index)
df['Description'] = df['Description'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
df['Description'].head()

0                 multiples 3 5
1                even fibonacci
2                largest factor
3    largest palindrome product
4             smallest multiple
Name: Description, dtype: object

In [14]:
#Rare Words Reoval
freq1 = pd.Series(' '.join(df['Description']).split()).value_counts()[-10:]
freq1

testing         1
combined        1
st              1
magic           1
sheets          1
pyramid         1
constraining    1
open            1
fleeting        1
flipping        1
dtype: int64

In [15]:
freq1 = list(freq1.index)
df['Description'] = df['Description'].apply(lambda x: " ".join(x for x in x.split() if x not in freq1))
df['Description'].head()

0                 multiples 3 5
1                even fibonacci
2                largest factor
3    largest palindrome product
4             smallest multiple
Name: Description, dtype: object

In [16]:
#Spelling Correction
from textblob import TextBlob
df['Description'][:5].apply(lambda x: str (TextBlob(x).correct()))

0                  multiple 3 5
1                even fibonacci
2                largest factor
3    largest palindrome product
4             smallest multiple
Name: Description, dtype: object

In [17]:
#Tokenization
import nltk
nltk.download('punkt')
TextBlob(df['Description'][1]).words

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

WordList(['even', 'fibonacci'])

In [18]:
#Stemming
from nltk.stem import PorterStemmer
st = PorterStemmer()
df['Description'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0                  multipl 3 5
1               even fibonacci
2               largest factor
3    largest palindrom product
4             smallest multipl
Name: Description, dtype: object

In [19]:
from textblob import Word
import nltk
nltk.download('wordnet')

df['Description'] = df['Description'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
df['Description'].head()

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

0                  multiple 3 5
1                even fibonacci
2                largest factor
3    largest palindrome product
4             smallest multiple
Name: Description, dtype: object

Feature Extraction

In [20]:
# Write your code here
from nltk import word_tokenize, pos_tag, pos_tag_sents
nltk.download('averaged_perceptron_tagger')
texts = df['Description'].tolist() # convert the column of strings to text.
map(word_tokenize, texts)
df['Description'].apply(word_tokenize)
df['Description_POS'] = pos_tag_sents( df['Description'].apply(word_tokenize).tolist() )
df['Description_POS'].head()

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

0                   [(multiple, JJ), (3, CD), (5, CD)]
1                        [(even, RB), (fibonacci, VB)]
2                       [(largest, JJS), (factor, NN)]
3    [(largest, JJS), (palindrome, NN), (product, NN)]
4                    [(smallest, JJS), (multiple, NN)]
Name: Description_POS, dtype: object

In [21]:
df['Description_POS'].head()

0                   [(multiple, JJ), (3, CD), (5, CD)]
1                        [(even, RB), (fibonacci, VB)]
2                       [(largest, JJS), (factor, NN)]
3    [(largest, JJS), (palindrome, NN), (product, NN)]
4                    [(smallest, JJS), (multiple, NN)]
Name: Description_POS, dtype: object

In [26]:
from collections import Counter
from itertools import chain
possible_tags = sorted(set(list(zip(*chain(*df['Description_POS'])))[1]))
possible_tags
def add_pos_with_zero_counts(counter, keys_to_add):
    for k in keys_to_add:
        counter[k] = counter.get(k, 0)
    return counter

# Detailed steps.
df['pos_counts'] = df['Description_POS'].apply(lambda x: Counter(list (zip(*x))[1]))
df['pos_counts_with_zero'] = df['pos_counts'].apply(lambda x: add_pos_with_zero_counts(x, possible_tags))
df['sent_vector'] = df['pos_counts_with_zero'].apply(lambda x: [count for tag, count in sorted(x.most_common())])

# All in one.
df['sent_vector'] = df['Description_POS'].apply(lambda x:[count for tag, count in sorted(add_pos_with_zero_counts(Counter(list(zip(*x))[1]),possible_tags).most_common())])
df2 = pd.DataFrame(df['sent_vector'].tolist())
df2.columns = possible_tags

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CD      717 non-null    int64
 1   DT      717 non-null    int64
 2   IN      717 non-null    int64
 3   JJ      717 non-null    int64
 4   JJR     717 non-null    int64
 5   JJS     717 non-null    int64
 6   NN      717 non-null    int64
 7   NNS     717 non-null    int64
 8   PRP     717 non-null    int64
 9   RB      717 non-null    int64
 10  RBR     717 non-null    int64
 11  VB      717 non-null    int64
 12  VBD     717 non-null    int64
 13  VBG     717 non-null    int64
 14  VBN     717 non-null    int64
 15  VBP     717 non-null    int64
 16  VBZ     717 non-null    int64
dtypes: int64(17)
memory usage: 95.4 KB

In [30]:
df2.pop('Sentences')
df2.insert(0, 'Sentences',df['Description'])

In [34]:
print(df2.head(5))

                    Sentences  CD  DT  IN  JJ  JJR  ...  VB  VBD  VBG  VBN  VBP  VBZ
0                multiple 3 5   2   0   0   1    0  ...   0    0    0    0    0    0
1              even fibonacci   0   0   0   0    0  ...   1    0    0    0    0    0
2              largest factor   0   0   0   0    0  ...   0    0    0    0    0    0
3  largest palindrome product   0   0   0   0    0  ...   0    0    0    0    0    0
4           smallest multiple   0   0   0   0    0  ...   0    0    0    0    0    0

[5 rows x 18 columns]