## The fifth In-class-exercise (9/30/2020, 20 points in total)

In exercise-03, I asked you to collected 500 textual data based on your own information needs (If you didn't collect the textual data, you should recollect for this exercise). Now we need to think about how to represent the textual data for text classification. In this exercise, you are required to select 10 types of features (10 types of features but absolutely more than 10 features) in the followings feature list, then represent the 500 texts with these features. The output should be in the following format:
![image.png](attachment:image.png)

The feature list:

* (1) tf-idf features
* (2) POS-tag features: number of adjective, adverb, auxiliary, punctuation, complementizer, coordinating conjunction, subordinating conjunction, determiner, interjection, noun, possessor, preposition, pronoun, quantifier, verb, and other. (select some of them if you use pos-tag features)
* (3) Linguistic features:
  * number of right-branching nodes across all constituent types
  * number of right-branching nodes for NPs only
  * number of left-branching nodes across all constituent types
  * number of left-branching nodes for NPs only
  * number of premodifiers across all constituent types
  * number of premodifiers within NPs only
  * number of postmodifiers across all constituent types
  * number of postmodifiers within NPs only
  * branching index across all constituent types, i.e. the number of right-branching nodes minus number of left-branching nodes
  * branching index for NPs only
  * branching weight index: number of tokens covered by right-branching nodes minus number of tokens covered by left-branching nodes across all categories
  * branching weight index for NPs only 
  * modification index, i.e. the number of premodifiers minus the number of postmodifiers across all categories
  * modification index for NPs only
  * modification weight index: length in tokens of all premodifiers minus length in tokens of all postmodifiers across all categories
  * modification weight index for NPs only
  * coordination balance, i.e. the maximal length difference in coordinated constituents
  
  * density (density can be calculated using the ratio of folowing function words to content words) of determiners/quantifiers
  * density of pronouns
  * density of prepositions
  * density of punctuation marks, specifically commas and semicolons
  * density of auxiliary verbs
  * density of conjunctions
  * density of different pronoun types: Wh, 1st, 2nd, and 3rd person pronouns
  
  * maximal and average NP length
  * maximal and average AJP length
  * maximal and average PP length
  * maximal and average AVP length
  * sentence length

* Other features in your mind (ie., pre-defined patterns)

In [1]:
# Please write your code here

#Collecting Project Euler Data Here Again.

import pandas as pd
import requests
from bs4 import BeautifulSoup
Id = []
Id_List = [ ]
tableRow = [ ]
Description = []
Description_List = [ ]
Solved_By = []
Solved_By_List = [ ]
for i in range(1,16):
 page = requests.get('https://projecteuler.net/archives;page='+ str (i))
 soup = BeautifulSoup(page.content,'html.parser')
 Id.append(soup.find_all('td',class_="id_column"))
 tableRow.append(soup.find_all('tr')) #for loop till
 Solved_By.append(soup.find_all('div',class_="center"))
for item in Id:
  for i in range(len(item)):
    Id_List.append(int (item[i].get_text()))
for item in tableRow:
  for i in range(len(item)):
    Description.append(item[i].find('a'))
for item in Solved_By:
  for i in range(len(item)):
    Solved_By_List.append(int (item[i].get_text())) 
Description = list(filter(None.__ne__, Description))
for item in Description:
  Description_List.append(item.get_text())
df= pd.DataFrame({'Id':Id_List,'Description': Description_List,'Solved_By':Solved_By_List})
df.head(10)

   Id                  Description  Solved_By
0   1         Multiples of 3 and 5     964697
1   2       Even Fibonacci numbers     767829
2   3         Largest prime factor     550337
3   4   Largest palindrome product     486132
4   5            Smallest multiple     489737
5   6        Sum square difference     492763
6   7                10001st prime     421065
7   8  Largest product in a series     351712
8   9  Special Pythagorean triplet     357176
9  10          Summation of primes     326857

In [2]:
#Number of Words in Description
df['Description_word_count'] = df['Description'].apply(lambda x: len(str(x).split(" ")))
df[['Description','Description_word_count']].head()

                  Description  Description_word_count
0        Multiples of 3 and 5                       5
1      Even Fibonacci numbers                       3
2        Largest prime factor                       3
3  Largest palindrome product                       3
4           Smallest multiple                       2

In [3]:
# Number of Characters
df['Description_char_count'] = df['Description'].str.len() ## this also includes spaces
df[['Description','Description_char_count']].head()

                  Description  Description_char_count
0        Multiples of 3 and 5                      20
1      Even Fibonacci numbers                      22
2        Largest prime factor                      20
3  Largest palindrome product                      26
4           Smallest multiple                      17

In [4]:
#Average Word Length

def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))

df['Description_avg_word'] = df['Description'].apply(lambda x: avg_word(x))
df[['Description','Description_avg_word']].head()

                  Description  Description_avg_word
0        Multiples of 3 and 5              3.200000
1      Even Fibonacci numbers              6.666667
2        Largest prime factor              6.000000
3  Largest palindrome product              8.000000
4           Smallest multiple              8.000000

In [6]:
#Number of Stop Words
from nltk.corpus import stopwords

import nltk
nltk.download('stopwords')
stop = stopwords.words('english')

df['stopwords_Description'] = df['Description'].apply(lambda x: len([x for x in x.split() if x in stop]))
df[['Description','stopwords_Description']].head(10)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                   Description  stopwords_Description
0         Multiples of 3 and 5                      2
1       Even Fibonacci numbers                      0
2         Largest prime factor                      0
3   Largest palindrome product                      0
4            Smallest multiple                      0
5        Sum square difference                      0
6                10001st prime                      0
7  Largest product in a series                      2
8  Special Pythagorean triplet                      0
9          Summation of primes                      1

In [9]:
#Number of Special Characters
df['hastags_Description'] = df['Description'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
df[['Description','hastags_Description']].head()

                  Description  hastags_Description
0        Multiples of 3 and 5                    0
1      Even Fibonacci numbers                    0
2        Largest prime factor                    0
3  Largest palindrome product                    0
4           Smallest multiple                    0