# **The eighth in-class-exercise (20 points in total, 10/29/2020)**

The data for this exercise is from the dataset you created from assignment three. Please perform answer the following questions based on your data:

## (1) (10 points) Write a python program to extract the sentiment related terms from the corpus. You may use python package such as polyglot or external lexicon resources in the question. Rank the sentiment related terms by frequency.

In [3]:
# Write your code here
import pandas as pd
import re
import nltk
from nltk import word_tokenize

- The data I collected in Assignment 3 has only titles, which is irrelevant for sentiment analysis. 

- I used Restaurant Review data set from Kaggle.

In [4]:
df = pd.read_table('/content/Restaurant_Reviews.tsv')

In [5]:
df.pop('Liked')

0      1
1      0
2      0
3      1
4      1
      ..
995    0
996    0
997    0
998    0
999    0
Name: Liked, Length: 1000, dtype: int64

In [6]:
df.head()

                                              Review
0                           Wow... Loved this place.
1                                 Crust is not good.
2          Not tasty and the texture was just nasty.
3  Stopped by during the late May bank holiday of...
4  The selection on the menu was great and so wer...

**DATA** **CLEANING**

In [7]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [8]:
import string
df['Review'] = df['Review'].apply(lambda x: x.strip(string.punctuation))
df['Review'][2]

'Not tasty and the texture was just nasty'

In [9]:
import re
df['Review_punc'] = df['Review'].apply(lambda x: re.sub(r'[^a-zA-Z0-9]+',' ',x))
df['Review_punc'][0]

'Wow Loved this place'

In [10]:
df['Review_lower'] = df['Review_punc'].apply(lambda x: x.lower())
df['Review'][2]

'Not tasty and the texture was just nasty'

In [11]:
stop = ['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]
df['Review_stop'] = df['Review_lower'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))
# test['tweet_without_stopwords'] = test['tweet_without_stopwords'].str.replace(r'\s+', ' ')
df['Review_stop'][2]

'tasty texture nasty'

In [12]:
!pip install polyglot
!pip install pyicu
!pip install pycld2
!pip install morfessor

Collecting polyglot
  Downloading https://files.pythonhosted.org/packages/e7/98/e24e2489114c5112b083714277204d92d372f5bbe00d5507acf40370edb9/polyglot-16.7.4.tar.gz (126kB)
     |████████████████████████████████| 133kB 2.7MB/s
Building wheels for collected packages: polyglot
  Building wheel for polyglot (setup.py) ... done
  Created wheel for polyglot: filename=polyglot-16.7.4-py2.py3-none-any.whl size=52559 sha256=cb040e8f82378c7ca39f181e33b5b4cbd1548c66b8add6cbc5a69ef8f66934eb
  Stored in directory: /root/.cache/pip/wheels/5e/91/ef/f1369fdc1203b0a9347d4b24f149b83a305f39ab047986d9da
Successfully built polyglot
Installing collected packages: polyglot
Successfully installed polyglot-16.7.4
Collecting pyicu
  Downloading https://files.pythonhosted.org/packages/5a/99/c48c816095208bf3f4936ff67e571621fbddef461303a35a076f234e31f6/PyICU-2.5.tar.gz (225kB)
     |████████████████████████████████| 235kB 2.7MB/s
Building wheels for collected packages: pyicu
  Building wheel for pyicu (setup.py) ... done
  Created wheel for pyicu: filename=PyICU-2.5-cp36-cp36m-linux_x86_64.whl size=1252517 sha256=d307ee6a210ff3f05c91d49c58fc8dd4643a2c3c6a3f281141e82e8aff12c381
  Stored in directory: /root/.cache/pip/wheels/07/3a/28/09f90c38785945ddf9af61b7add1aa62a740f40e259626ef3a
Successfully built pyicu
Installing collected packages: pyicu
Successfully installed pyicu-2.5
Collecting pycld2
  Downloading https://files.pythonhosted.org/packages/21/d2/8b0def84a53c88d0eb27c67b05269fbd16ad68df8c78849e7b5d65e6aec3/pycld2-0.41.tar.gz (41.4MB)
     |████████████████████████████████| 41.4MB 104kB/s
Building wheels for collected packages: pycld2
  Building wheel for pycld2 (setup.py) ... done
  Created wheel for pycld2: filename=pycld2-0.41-cp36-cp36m-linux_x86_64.whl size=9833524 sha256=db42def26852c021ac44d3d866c113852445bfc940ac983ea54573471762504d
  Stored in directory: /root/.cache/pip/wheels/c6/8f/e9/08a1a8932a490175bd140206cd86a3dbcfc70498100de11079
Successfully built pycld2
Installing collected packages: pycld2
Successfully installed pycld2-0.41
Collecting morfessor
  Downloading https://files.pythonhosted.org/packages/39/e6/7afea30be2ee4d29ce9de0fa53acbb033163615f849515c0b1956ad074ee/Morfessor-2.0.6-py3-none-any.whl
Installing collected packages: morfessor
Successfully installed morfessor-2.0.6

In [13]:
!polyglot download sentiment2.en

[polyglot_data] Downloading package sentiment2.en to
[polyglot_data]     /root/polyglot_data...

In [14]:
from icu import Locale
import pycld2 as cld2
from polyglot.text import Text
df['Review_stop'].head()

0                                      wow loved place
1                                           crust good
2                                  tasty texture nasty
3    stopped late may bank holiday rick steve recom...
4                          selection menu great prices
Name: Review_stop, dtype: object

In [15]:
df.dropna()
df['Review_stop'] = df['Review_stop'].str.replace('\d+', '')

In [16]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [17]:
df['Reviews_Token'] = df['Review_stop'].apply(lambda x: word_tokenize(x))
tex = [Text (df['Review_stop'][i],hint_language_code='en') for i in range(len(df['Review_stop']))]

In [18]:
tex.remove(Text(""))

In [19]:
from polyglot.detect.base import logger as polyglot_logger
polyglot_logger.setLevel("ERROR")

In [20]:
list_word = [ ]
for i in tex[:1000]:
 for j in i.words:
      list_word.append(j)

In [21]:
from collections import Counter

In [28]:
list_count = Counter(list_word)
len(list_count)
len(list_word)

5486

In [29]:
df_Rank = pd.DataFrame({'words': list (list_count.keys()),'Freq': list (list_count.values()),'polarity': list (i.polarity for i in list_count.keys())})

In [30]:
df_Rank

        words  Freq  polarity
0         wow     3         1
1       loved    10         1
2       place   106         0
3       crust     2         0
4        good    95         1
...       ...   ...       ...
1886    ninja     1         0
1887   wasted     1        -1
1888   poured     1         0
1889    wound     1        -1
1890  drawing     1         0

[1891 rows x 3 columns]

In [31]:
df_Rank = df_Rank[df_Rank['polarity'] !=0]

In [32]:
df_Rank.sort_values(by=['Freq'], ascending=False)

           words  Freq  polarity
4           good    95         1
18         great    70         1
29          like    46         1
380         best    30         1
103     friendly    27         1
...          ...   ...       ...
1086     screwed     1        -1
1094  frustrated     1        -1
1095       petty     1        -1
1102        sore     1        -1
1889       wound     1        -1

[332 rows x 3 columns]

In [38]:
import numpy as np
Index = np.arange(1,len(df_Rank)+1)

In [39]:
df_Rank.insert(0,'Index',Index)

In [40]:
Index = np.arange(1,len(df_Rank)+1)
df_Rank.head(10)

    Index           words  Freq  polarity
0       1             wow     3         1
1       2           loved    10         1
4       3            good    95         1
7       4           nasty     3        -1
15      5  recommendation     3         1
18      6           great    70         1
21      7           angry     1        -1
23      8            damn     4        -1
27      9           fresh    14         1
29     10            like    46         1

In [41]:
pol_freq = Counter(list (df_Rank['polarity']))

In [42]:
pol_freq

Counter({-1: 165, 1: 167})

As we can see the restaurant reviews has equal amount of negative(-1) as well as positive(1) reviews

## (2) (10 points) Compare the performance of the following tools in sentiment identification: TextBlob (https://textblob.readthedocs.io/en/dev/), VADER (https://github.com/cjhutto/vaderSentiment), TFIDF-based Support Vector Machine (SVM) (Split your data into training and testing data). Take your own annotation as the standard answers. 

Reference code: https://towardsdatascience.com/fine-grained-sentiment-analysis-in-python-part-1-2697bb111ed4

In [ ]:
# Write your code here





# Your analysis here