<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (9/2/2020, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [ ]:
# write your answer here
import pandas as pd
string = "Hello World!"
print(len(string))

12

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
# write your answer here
string = "google.com"
CountOfElements = {i: string.count(i) for i in set(string)}
print(CountOfElements)

{'c': 1, '.': 1, 'l': 1, 'm': 1, 'o': 3, 'g': 2, 'e': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [ ]:
# write your answer here
import numpy as np
list = [1, 2, 3, 4]
np.sum(list)

10

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
String = input("String input:\t")
replaceString = String[0]
for i in range(1, len(String)):
    if String[i] == String[0]:
        replaceString += '$' 
    else:
        replaceString += String[i] 
print ("Replaced String:",replaceString)

String input:	1
Replaced String: 1

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [ ]:
# write your answer here
import math
a = input("Enter a value:\t")
b = input("Enter b value:\t")
a = int(a)
b = int(b)
s = 3.14 * (1+ a/b)**3
print(s)

Enter a value:	1
Enter b value:	1
25.12

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# write your answer here
dic1 = {1:10,2:20}
dic2 = {3:30,4:40}
dic3 = {5:50,6:60}
ConDict = {}
for d in [dic1, dic2, dic3]:
  ConDict.update(d)
print(ConDict)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [ ]:
# write your answer here
tuple = (1, "prithvi","chen", "python", 3, 20)
element = input("enter element to check in tuple:\t")
print(element in tuple)

enter element to check in tuple:	1
False

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [ ]:
# write your answer here
import math
set = {1,2,3,4}
print("max value:\t",max(set))
print("min value:\t",min(set))

max value:	 4
min value:	 1

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [ ]:
# write your answer here
# import numpy as np
# import random
# studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']
# GroupSizes = [ ]
# def main():
#     while True:

#         if (np.sum(GroupSizes) == len(studnet_list)):
#             print (GroupSizes)
#             return
#         else:
#             for j in range(5):
#               rand = random.randint(3,5)
#               GroupSizes.append(rand)

# if __name__ == "__main__":
#     main()

# for i in range(5):
#     {
#        data = random.sample(studnet_list,random.randint(3,5))
#        print("Group {} is {}".format(i+1,data)) 
#   for i in data:
#     try:
#         studnet_list.remove(i)
#     except ValueError:
#         pass   
#     }
#   else:
#       lastGroup = student_list
#       print(lastGroup)

In [ ]:
#multiples of 3 or 5 below 1000
import math
import numpy as np

In [ ]:
#Type 1:
multiOf35 = [ ]
sum = 0
for i in range(1000):
  if ((i%3 == 0) or (i%5 == 0)):
    multiOf35.append(i)
for i in range(len(multiOf35)):
  sum = sum + multiOf35[i]
print(sum)

233168

In [15]:
#Type 2:
multiOf35 = [ ]
for i in range(1000):
  if ((i%3 == 0) or (i%5 == 0)):
    multiOf35.append(i)
sum = np.sum(multiOf35)
print(sum)

233168