<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The fourth in-class-exercise (20 points in total)**

# 1. Text Data Preprocessing

Here is a [legal case](https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/In_class_exercise/01-05-1%20%20Adams%20v%20Tanner.txt) we collected from westlaw, please follow the steps we mentioned in lesson 5 to clean the data:



## 1.1 Basic feature extraction using text data (4 points)

*   Number of sentences
*   Number of words
*   Number of characters
*   Average word length
*   Number of stopwords
*   Number of special characters
*   Number of numerics
*   Number of uppercase words

## 1.2 Basic Text Pre-processing of text data (4 points)

*   Lower casing
*   Punctuation removal
*   Stopwords removal
*   Frequent words removal
*   Rare words removal
*   Spelling correction
*   Tokenization
*   Stemming
*   Lemmatization

## 1.3 Save all the **clean sentences** to a **csv file** (one column, each raw is a sentence) after finishing all the steps above. (4 points)


## 1.4 Advance Text Processing (Extra credit: 4 points)

*   Calculate the term frequency of all the terms.
*   Print out top 10 1-gram, top 10 2-grams, and top 10 3-grams terms as features.

In [1]:
# Write your code here

import io

import pandas as pd

import requests

In [2]:
urlfile="https://raw.githubusercontent.com/unt-iialab/INFO5731_FALL2020/master/In_class_exercise/01-05-1%20%20Adams%20v%20Tanner.txt"

url=requests.get(urlfile).content

cols = ['text']

df =pd.read_csv(io.StringIO(url.decode('utf-8')), names= cols)

df.head(10)

                                            text
0                                     5 Ala. 740
1                      Supreme Court of Alabama.
2                                          ADAMS
3                                             v.
4                             TANNER AND HORTON.
5                                      June Term
6                                       Synopsis
7  WRIT of Error to the Circuit Court of Sumter.
8                                              Â
9                             West Headnotes (2)

In [3]:
#1.1 Basic feature extraction using text data (4 points)
# Remove null rows in column
df['text'] = df['text'].dropna()
#Number of sentences
len(df['text'])
# Number of words
df['word_count'] = df['text'].apply(lambda x: len(str(x).split(" ")))
df[['text','word_count']].head()
# Number of characters
df['char_count'] = df['text'].str.len() 
df[['text','char_count']].head()
# Average word length
def avg_word(sentence):
  words = sentence.split()
  try: 
      return (sum(len(word) for word in words)/len(words))
  except ZeroDivisionError:
     print ("divide by zero")

df['avg_word'] = df['text'].apply(lambda x: avg_word(x))
df[['text','avg_word']].head()
# Number of stopwords
from nltk.corpus import stopwords

import nltk
nltk.download('stopwords')
stop = stopwords.words('english')

df['stopwords'] = df['text'].apply(lambda x: len([x for x in x.split() if x in stop]))
df[['text','stopwords']].head()
# Number of special characters
df['hastags'] = df['text'].apply(lambda x: len([x for x in x.split() if x.startswith('*')])) # as most of the data contains * starting in the words.
df[['text','hastags']].head()
# Number of numerics
df['numerics'] = df['text'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
df[['text','numerics']].head()
# Number of uppercase words
df['upper'] = df['text'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
df[['text','upper']].head()

divide by zero
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                        text  upper
0                 5 Ala. 740      0
1  Supreme Court of Alabama.      0
2                      ADAMS      1
3                         v.      0
4         TANNER AND HORTON.      3

In [4]:
# 1.2 Basic Text Pre-processing of text data (4 points)
# Lower casing
df['lower'] = df['text'].apply(lambda x: " ".join(x.lower() for x in x.split()))
df[['text','lower']].head()
# Punctuation removal
df['punctuation'] = df['text'].str.replace('[^\w\s]','')
df[['text','punctuation']].head()
# Stopwords removal
from nltk.corpus import stopwords
stop = stopwords.words('english')
df['stopwords'] = df['text'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
df[['text','stopwords']].head()
# Frequent words removal

freq = pd.Series(' '.join(df['text']).split()).value_counts()[:10] #top 10 frequently appearing
freq = list(freq.index)
freq
df['rem_freq_text'] = df['text'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
df[['text','rem_freq_text']].head()


# Rare words removal

freq_rare = pd.Series(' '.join(df['text']).split()).value_counts()[-10:]
freq_rare 
freq_rare = list(freq_rare.index)
df['rem_rare_text'] = df['text'].apply(lambda x: " ".join(x for x in x.split() if x not in freq_rare))
df[['text','rem_rare_text']].head()
# Spelling correction

from textblob import TextBlob
df['correct_spell']=df['text'].apply(lambda x: str(TextBlob(x).correct()))
df[['text','correct_spell']].head()


# Tokenization
import nltk
nltk.download('punkt')
df['token_text'] = df.apply(lambda row: nltk.word_tokenize(str (row['text'])), axis=1)
df[['text','token_text']].head()
# Stemming
from nltk.stem import PorterStemmer
st = PorterStemmer()
df['stem_text']=df['text'].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))
df[['text','stem_text']].head(10)
# Lemmatization
from textblob import Word
import nltk
nltk.download('wordnet')

df['lem_text'] = df['text'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
df[['text','lem_text']].head(20)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

                                                 text                                           lem_text
0                                          5 Ala. 740                                         5 Ala. 740
1                           Supreme Court of Alabama.                          Supreme Court of Alabama.
2                                               ADAMS                                              ADAMS
3                                                  v.                                                 v.
4                                  TANNER AND HORTON.                                 TANNER AND HORTON.
5                                           June Term                                          June Term
6                                            Synopsis                                           Synopsis
7       WRIT of Error to the Circuit Court of Sumter.      WRIT of Error to the Circuit Court of Sumter.
8                                                   Â
9                                  West Headnotes (2)                                 West Headnotes (2)
10                                                [1]                                                [1]
11                                  Chattel Mortgages                                  Chattel Mortgages
12                                              Crops                                              Crops
13  A growing crop has such an existence as to be ...  A growing crop ha such an existence a to be th...
14                    4 Cases that cite this headnote                    4 Cases that cite this headnote
15                                                [2]                                                [2]
16                                Creditorsâ Remedies                                Creditorsâ Remedies
17                                  Lien and Priority                                  Lien and Priority
18                                      Under St.1821                                      Under St.1821
19                    5 Cases that cite this headnote                    5 Cases that cite this headnote

In [5]:
#1.3 Save all the clean sentences to a csv file (one column, each raw is a sentence) after finishing all the steps above. (4 points)
df.to_csv("legal_case.csv")

In [6]:
#1.4 Advance Text Processing (Extra credit: 4 points)

# Calculate the term frequency of all the terms.
# Print out top 10 1-gram, top 10 2-grams, and top 10 3-grams terms as features.

from nltk.util import ngrams
eng_stopwords = set(stopwords.words('english'))
def get_unigrams(sen):
    return [word for word in nltk.word_tokenize(sen.lower()) if word not in eng_stopwords]
df["unigrams"] = df['text'].apply(lambda x: get_unigrams(str (x)))
def get_bigrams(sen):
    return [ i for i in ngrams(sen,2)]
df["bigrams"] = df["unigrams"].apply(lambda x: get_bigrams(x))
# df['trigrams'] = [i for i in ngrams(df['unigrams'], 3)]
def get_trigrams(sen):
    return [ i for i in ngrams(sen,3)]
df["trigrams"] = df["unigrams"].apply(lambda x: get_trigrams(x))
print("top 10 unigrams are:\n\n",df['unigrams'].head(10))
print("\n")
print("top 10 bigrams are:\n\n",df['bigrams'].head(10))
print("\n")
print("top 10 trigrams are:\n\n",df['trigrams'].head(10))
print("\n")

top 10 unigrams are:

 0                              [5, ala., 740]
1                [supreme, court, alabama, .]
2                                     [adams]
3                                      [v, .]
4                         [tanner, horton, .]
5                                [june, term]
6                                  [synopsis]
7    [writ, error, circuit, court, sumter, .]
8                                          []
9                  [west, headnotes, (, 2, )]
Name: unigrams, dtype: object


top 10 bigrams are:

 0                             [(5, ala.), (ala., 740)]
1    [(supreme, court), (court, alabama), (alabama,...
2                                                   []
3                                             [(v, .)]
4                      [(tanner, horton), (horton, .)]
5                                       [(june, term)]
6                                                   []
7    [(writ, error), (error, circuit), (circuit, co...
8                                                   []
9    [(west, headnotes), (headnotes, (), ((, 2), (2...
Name: bigrams, dtype: object


top 10 trigrams are:

 0                                     [(5, ala., 740)]
1     [(supreme, court, alabama), (court, alabama, .)]
2                                                   []
3                                                   []
4                                [(tanner, horton, .)]
5                                                   []
6                                                   []
7    [(writ, error, circuit), (error, circuit, cour...
8                                                   []
9    [(west, headnotes, (), (headnotes, (, 2), ((, ...
Name: trigrams, dtype: object

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: DeprecationWarning: generator 'ngrams' raised StopIteration
  if sys.path[0] == '':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:16: DeprecationWarning: generator 'ngrams' raised StopIteration
  app.launch_new_instance()

# 2. Python Regular Expression

## 2.1 Write a Python program to remove leading zeros from an IP address. (4 points)

ip = "260.08.094.109"

In [7]:
# Write your code here

def rem_lead_zero(o_ip):  
    n_ip = ".".join([str (int(i)) for i in o_ip.split(".")])   
    return n_ip 
o_ip = "260.08.094.109"
print(rem_lead_zero(o_ip))

260.8.94.109

## 2.2 Write a Python Program to extract all the years from the following sentence. (4 points)

sentence = "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump."

In [8]:
# Write your code here
import re
sentence = "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump."
year = re.findall('(\d{4})', sentence)
year

['2010', '1000', '2010', '2019']